.container-pictures .title {
  font-family: "Great Vibes";
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}

.text-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  color: rgb(204, 135, 51);
  margin: 20px 0;
  font-family: "Roboto";
}

p {
  margin: 20px;
}

.pic {
  margin-bottom: 30px;
}

/* #scrollToTopBtn {
  background-color: rgb(204, 135, 51);
  border: 2px solid#fff;
  cursor: pointer;
  font-size: 2rem;
  line-height: 40px;
  width: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.6;
} */
